h1{
    color: azure;
    /*背景色*/
    background-color: #000;
    /*画面の中央に揃える*/
    text-align: center;
    /*フォントの指定*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Borel', cursive;
    /*文字のサイズの指定*/
    font-size: 50px;

    width: 300px;
    height: 50px;

    margin: 0 auto;
}

p{
    background-color: beige;
    text-align: center;
}

a{
    background-color: antiquewhite;
    text-align: center;
}
#a{
    display: block;
}
div{
    text-align: center;
}